{% extends 'employe/base.html' %}

{% block content %}
<table class='table table-borderless'>
    <thead class='border-bottom font-weight-bold'>
        <tr>
            <td>FullName</td>
            <td>Mobile</td>
            <td>Position</td>
            <td>
                <a href="{% url 'employee_insert' %}" class='btn btn-success btn-block btn-lg'>
                    <i class="fa-solid fa-circle-plus"></i>
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for employee in employee_list %}
        <tr>
            <td>{{employee.ful_name}}</td>
            <td>{{employee.mobile}}</td>
            <td>{{employee.postion}}</td>
            <td>
                <a href="{% url 'employee_update' employee.id %}" class='btn btn-primary btn-block '>
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>

                <form action="{% url 'employee_delete' employee.id %}" method="POST" onsubmit="return confirmDelete()">
                    {% csrf_token %}
                    <button type="submit" class="btn btn btn-danger btn-block ">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
function confirmDelete() {
    return confirm("Siz haqiqatdan ham bu ma'lumotni o'chirmoqchimisiz?");
}
</script>
{% endblock %}
